<div class="row flex-column p-3 col-10">
  <h3>Create new cocktail</h3>
  <form (ngSubmit)="postCocktail()"
        [formGroup]="cocktailForm"
  >

    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control"
      />
      <small *ngIf="fieldHasError('name', 'required')"
             class="form-text invalid-form-text"> Enter name of cocktail</small>
    </div>
    <div class="form-group">
      <label for="img">Image URL:</label>
      <input
        type="text"
        formControlName="img"
        id="img"
        class="form-control"
        appUrlValid
      />
      <small *ngIf="fieldHasError('img', 'required')"
             class="form-text invalid-form-text">Enter img url</small>
      <small
        *ngIf="fieldHasError('img', 'url')"
        class="form-text invalid-form-text"
      >
        enter valid url
      </small>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="alcoholic"
          value="alcoholic"
          formControlName="type"
        >
        <label class="form-check-label"
               for="alcoholic">alcoholic</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="non-alcoholic"
          value="non-alcoholic"
          formControlName="type"
        >
        <label class="form-check-label"
               for="non-alcoholic">non-alcoholic</label>
      </div>
      <small *ngIf="fieldHasError('type', 'required')"
             class="form-text invalid-form-text">Select type of cocktail</small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          formControlName="description"
          rows="3"
        ></textarea>
      <small *ngIf="fieldHasError('description', 'required')"
             class="form-text invalid-form-text">Enter a description</small>
    </div>
    <div class="form-group"
         formArrayName="ingredients">
      <label class="mr-2">Ingredients</label>
      <button type="button"
              class="btn btn-success"
              (click)="AddIng()">Add ingredient
      </button>
      <div class="form-inline p-3"
           *ngFor="let ingControl of getControls(); let i=index">
        <div [formGroupName]="i">
          <div class="mb-2">
            <input
              type="text"
              formControlName="ingName"
              placeholder="Ing name"
              class="form-control"
            />
            <small *ngIf="groupFieldHasError(i,'ingName', 'required')"
                   class="form-text invalid-form-text">Enter ingName</small>
          </div>
          <div class="mb-2">
            <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
            <small *ngIf="groupFieldHasError(i, 'amount','required')"
                   class="form-text invalid-form-text">enter amount of ingredient</small>
          </div>
          <div class="mb-2">
            <select formControlName="unit"
                    class="form-control"
                    >
              <option value="ml">ml</option>
              <option value="tbsp">tbsp</option>
              <option value="piece">piece</option>
            </select>
            <small *ngIf="groupFieldHasError(i, 'unit','required')"
                   class="form-text invalid-form-text">select unit of cocktail</small>
          </div>
          <button type="button" class="btn btn-danger" (click)="deleteIng(i)">Delete</button>
          <hr>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="instructions">Instructions</label>
      <textarea
        class="form-control"
        id="instructions"
        formControlName="instructions"
        rows="3"
      ></textarea>
      <small *ngIf="fieldHasError('instructions', 'required')"
             class="form-text invalid-form-text">Enter a instructions</small>
    </div>

    <button type="submit"
            class="btn btn-primary"
      [disabled]="cocktailForm.invalid"
    >
          Save
    </button>
  </form>
</div>



